In [1]:
import pandas as pd
import sqlalchemy

In [4]:
select_cities=pd.read_csv("Average Temperature of Cities.csv", encoding='latin1')
all_cities=pd.read_csv("cities15000.csv", encoding='latin1')

In [5]:
select_cities.head()

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
0,Algeria,Algiers,11.2\n(52.2),11.9\n(53.4),12.8\n(55.0),14.7\n(58.5),17.7\n(63.9),21.3\n(70.3),24.6\n(76.3),25.2\n(77.4),23.2\n(73.8),19.4\n(66.9),15.2\n(59.4),12.1\n(53.8),17.4\n(63.3),AFRICA
1,Algeria,Tamanrasset,12.8\n(55.0),15.0\n(59.0),18.1\n(64.6),22.2\n(72.0),26.1\n(79.0),28.9\n(84.0),28.7\n(83.7),28.2\n(82.8),26.5\n(79.7),22.4\n(72.3),17.3\n(63.1),13.9\n(57.0),21.7\n(71.1),AFRICA
2,Algeria,Reggane,16.0\n(60.8),18.2\n(64.8),23.1\n(73.6),27.9\n(82.2),32.2\n(90.0),36.4\n(97.5),39.8\n(103.6),38.4\n(101.1),35.5\n(95.9),29.2\n(84.6),22.0\n(71.6),17.8\n(64.0),28.3\n(82.9),AFRICA
3,Angola,Luanda,26.7\n(80.1),28.5\n(83.3),28.6\n(83.5),28.2\n(82.8),27.0\n(80.6),23.9\n(75.0),22.1\n(71.8),22.1\n(71.8),23.5\n(74.3),25.2\n(77.4),26.7\n(80.1),26.9\n(80.4),25.8\n(78.4),AFRICA
4,Benin,Cotonou,27.3\n(81.1),28.5\n(83.3),28.9\n(84.0),28.6\n(83.5),27.8\n(82.0),26.5\n(79.7),25.8\n(78.4),25.6\n(78.1),26.0\n(78.8),26.7\n(80.1),27.6\n(81.7),27.3\n(81.1),27.2\n(81.0),AFRICA

In [6]:
all_cities.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,3040051,les Escaldes,les Escaldes,"Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engo...",42.50729,1.53414,P,PPLA,AD,NaN,8,NaN,NaN,NaN,15853,NaN,1033.0,Europe/Andorra,10/15/08
1,3041563,Andorra la Vella,Andorra la Vella,"ALV,Ando-la-Vyey,Andora,Andora la Vela,Andora ...",42.50779,1.52109,P,PPLC,AD,NaN,7,NaN,NaN,NaN,20430,NaN,1037.0,Europe/Andorra,5/30/10
2,290594,Umm al Qaywayn,Umm al Qaywayn,"Oumm al Qaiwain,Oumm al QaÌøwaÌøn,Um al Kawain...",25.56473,55.55517,P,PPLA,AE,NaN,7,NaN,NaN,NaN,44411,NaN,2.0,Asia/Dubai,10/7/14
3,291074,Ras al-Khaimah,Ras al-Khaimah,"Julfa,Khaimah,RKT,Ra's al Khaymah,Ra's al-Chai...",25.78953,55.9432,P,PPLA,AE,NaN,5,NaN,NaN,NaN,115949,NaN,2.0,Asia/Dubai,12/5/15
4,291696,Khawr Fakkn,Khawr Fakkan,"Fakkan,Fakkn,Khawr Fakkan,Khawr Fakkn,Khaw...",25.33132,56.34199,P,PPL,AE,NaN,6,NaN,NaN,NaN,33575,NaN,20.0,Asia/Dubai,10/25/13

In [11]:
select_df=select_cities[['Country','City','Year']]
all_df=all_cities[['asciiname','latitude','longitude','country code','population']]

In [12]:
select_df

       Country         City          Year
0      Algeria      Algiers  17.4\n(63.3)
1      Algeria  Tamanrasset  21.7\n(71.1)
2      Algeria      Reggane  28.3\n(82.9)
3       Angola       Luanda  25.8\n(78.4)
4        Benin      Cotonou  27.2\n(81.0)
..         ...          ...           ...
446       Peru         Lima  19.2\n(66.6)
447       Peru        Piura  24.5\n(76.1)
448   Suriname   Paramaribo  26.8\n(80.2)
449    Uruguay   Montevideo  16.7\n(62.1)
450  Venezuela      Caracas  22.0\n(71.6)

[451 rows x 3 columns]

In [ ]:
for index, row

In [13]:
all_df

              asciiname   latitude longitude country code population
0          les Escaldes   42.50729   1.53414           AD      15853
1      Andorra la Vella   42.50779   1.52109           AD      20430
2        Umm al Qaywayn   25.56473  55.55517           AE      44411
3        Ras al-Khaimah   25.78953   55.9432           AE     115949
4          Khawr Fakkan   25.33132  56.34199           AE      33575
...                 ...        ...       ...          ...        ...
23464          Bulawayo     -20.15  28.58333           ZW     699385
23465           Bindura  -17.30192  31.33056           ZW      37423
23466        Beitbridge  -22.21667        30           ZW      26459
23467           Epworth     -17.89   31.1475           ZW     123250
23468       Chitungwiza  -18.01274  31.07555           ZW     340360

[23469 rows x 5 columns]